language: python

# Run jobs on container-based infrastructure, can be overridden per job

matrix:
  include:
    # Extra includes for OSX since python language is not available by default on OSX
    - os: osx
      language: generic
      env: PYTHON_VER=3.6
    - os: osx
      language: generic
      env: PYTHON_VER=3.7


    - os: linux
      language: generic  # No need to set Python version since its conda
      env: PYTHON_VER=3.6
    - os: linux
      language: generic
      env: PYTHON_VER=3.7


before_install:
    # Additional info about the build
  - uname -a
  - df -h
  - ulimit -a

    # Install the Python environment
  - source devtools/travis-ci/before_install.sh
  - python -V

install:

  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - if [[ "$PYTHON_VER" == "3.6" ]]; then
        conda create -q -n p4env python=$PYTHON_VER psi4 numpy=1.13 matplotlib jupyter scipy -c psi4;
    else
        conda create -q -n p4env python=$PYTHON_VER psi4 numpy matplotlib jupyter scipy -c psi4/label/dev -c defaults -c conda-forge;
    fi

  - conda activate p4env
  - conda install pytest pytest-cov codecov -c conda-forge
  - python setup.py develop


script:
  - pytest -v --cov=pdft pdft/tests/

notifications:
    email: false

after_success:
  - codecov
